@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: background-color .2s;
}

body {
    background-color: #66aaf9;
}

.d-padding {
    padding-right: 2rem;
    padding-left: 2rem;
}

@media (min-width: 900px) {
    .d-padding {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media (min-width: 1300px) {
    .d-padding {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}